.wrap {
	height: 100%;
}

.wrapAddImg {
	height: 10rem;
	//width: 10rem;
	border: 2px solid #8b8b8b;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	width: 100%;

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1;

		.col {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: .5rem;

			.icon {
				font-size: 2rem;
			}
		}
	}
}

.wrapImg {
	height: 10rem;
	//width: 10rem;
	width: 100%;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	object-fit: contain;
}

