.wrap {
	user-select: none;

}

.wrapImg {
	height: 10rem;
	width: 100%;
	display: flex;
	object-fit: cover;

	.wrapSwiper {
		width: 100%;
	}

	.img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.remove {
	position: absolute;
	right: 0;
	top: 0;
}
